
/*Colors*/

$mirage: #1F2A44;
$cello: #004C6D;
$bismark: #306B79;
$geyser: #CCDBE2;
$mineshaft: #363434;
$nickel: #EEEEEE;
$affirmative: #2C5F2D;
$negative: #81242D;
$paper: #ffffff;
$social-primary: #63d0ff;
@mixin gradient-background { 
	background: linear-gradient(84.26deg, #004C6D 0%, #306B79 100%);
}
@mixin gradient {
	color: $bismark;
	@include gradient-background;
	-webkit-text-fill-color: transparent;
  	-webkit-background-clip: text;
}

/*Alignment from Parent div*/

@mixin center {
	display: flex;
  	justify-content: center;
  	align-items: center;
}
@mixin center-left {
	display: flex;
  	justify-content: left;
  	align-items: center;
}
@mixin center-right {
	display: inline-grid;
  	justify-content: right;
  	align-items: center;
}
@mixin top-center {
	display: flex;
    justify-content: center; 
    align-items: flex-start; 
}
@mixin bottom-left {
	display: flex;
    justify-content: left;
    align-items: flex-end;
}
@mixin bottom-center {
	display: flex;
    justify-content: center; 
    align-items: flex-end;    
    align-content: space-between;
}


/* Spacing */

@mixin skinny-padding {
	padding-left: 0;
	padding-right: 0;
}

@mixin skinny-margin {
	margin-left: 0;
	margin-right: 0;
}

@mixin skinny-legend {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

@mixin modest-padding {
	padding-left: 15px;
	padding-right: 15px;
}

@mixin modest-margin {
	margin-left: 15px;
	margin-right: 15px;
}


/* General */

@mixin paragraph {
    font-family: "Recoleta";
    font-display: block;
	font-size: 18px;
    font-weight: normal;
    line-height: 1.37em;
}
@mixin image-typical {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin signature-border {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin image-signature-border {
    border-top-right-radius: 0;
    border-bottom-left-radius: o;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* Blur */

@mixin blur-1 {
	background-image: url('./../../images/blur/blur-1.jpg');
	@include image-typical;
}

@mixin blur-2 {
	background-image: url('./../../images/blur/blur-2.jpg');
	@include image-typical;
}

@mixin blur-3 {
	background-image: url('./../../images/blur/blur-3.jpg');
	@include image-typical;
}

@mixin blur-4 {
	background-image: url('./../../images/blur/blur-4.jpg');
	@include image-typical;
}