.tours.contact{
    background-image: url(../../images/pattern.jpeg);
    .container{
        .contact-cta{
                padding: 20px;
                text-align: center;
                border: unset!important;
                box-shadow: unset!important;
                margin-top: 0;
                .row{
                    .col-sm-6{
                        iframe{
                            width: 100%;
                            height: 500px;
                        }
                        .contact-info{
                            text-align: left;
                            span{
                                p{
                                    color: #212529;
                                    font-family: "Timmana", sans-serif;
                                    font-size: 20px;
                                    a{
                                        text-decoration: none;
                                        color: #f93;
                                        padding-left: 2px;
                                    }
                                }
                            }
                        }
                        input,.CWjVC{
                            color: #f93!important;
                        }
                    }
                }
        }
     
    }
}